.App {
  text-align: center;
  img {
    width: 100%;
  }
  .bg-image {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }
  .dashboard {
    font-family: acherusgrotesque-regular;
    position: absolute;
    width: 100%;
    & .dashboard-content {
      position: relative;
      width: 50%;
      background-color: #fff;
      margin: 0 2rem;
      padding: 1.5rem 1rem;
      opacity: .90;
      left: 25%;
      & .row {
        opacity: 1;
      }
    }
  }
}

.first-choice-logo {
  background-image: '';
}

.fixed-container {
  position: fixed;
  left: 50%;
  margin-left: -50%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.app-content {
  padding-top: 110px;
}

.pad-y {
  padding-bottom: 1rem;
}

.float-l {
  float: left;
}

.float-center {
  float: left;
  position: relative;
  left: 50%;
  margin-left: -25%;
  button {
    margin-right: 2rem;
  }
}

.float-r {
  float: right;
}

.top-bar-nav {
  width: 100%;
  position: fixed;
  color: #fff;
  background-color: #fff;
  opacity: 0.9;
  border-bottom: 1px solid #fff;
  .fade-out-r {
    display: none;
    -webkit-animation: fadeOut 0.5s ease-out;
    -moz-animation: fadeOut 0.5s ease-out;
    -o-animation: fadeOut 0.5s ease-out;
    animation: fadeOut 0.5s ease-out;
  }
  .fade-in-from-none {
    display: block;

    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
  }
  a {
    text-decoration: none;
  }
  h2 {
    margin-left: 10px;
    font-family: garogierregular;
    font-weight: lighter;
    color: #fff;
  }
  .menu {
    padding: 10px;
    .oi[data-glyph]:before {
      top: 0;
    }
    .icon span{
      font-family: acherusgrotesque-regular;
      font-weight: lighter;
      font-size: 1rem;
      margin-left: 1px;
    }
  }
  .popout-menu {
    .col {
      width: 25%;
      float: left;
      margin-right: 10px;
      &.last.close {
        width: 10%;
      }
    }
  }
}

.bottom-bar-nav {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  opacity: 0.9;
  width: 100%;
  font-size: 1.25rem;
  .social-media {
    padding: .5rem;
  }
  .contact-info {
    padding-top: 20px;
    padding-right: 20px;
    a {
      text-decoration: none;
    }
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes fadeOut {
    100% {
        display: block;
        opacity: 1;
    }
    1% {
        display: block;
        opacity: 0;
    }
    0% {
        display: none;
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
  100% {
      display: block;
      opacity: 1;
  }
  1% {
      display: block;
      opacity: 0;
  }
  0% {
      display: none;
      opacity: 0;
  }
}

@-o-keyframes fadeOut {
  100% {
      display: block;
      opacity: 1;
  }
  1% {
      display: block;
      opacity: 0;
  }
  0% {
      display: none;
      opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
      display: block;
      opacity: 1;
  }
  1% {
      display: block;
      opacity: 0;
  }
  0% {
      display: none;
      opacity: 0;
  }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
