$font-Size:16px;

@mixin font-face($fontFamily, $fileName, $fontStyle, $fontWeight) {
  @font-face {
    font-family: $fontFamily;
    src: url('/assets/fonts/#{$fileName}.otf') format('opentype');
    font-style: $fontStyle;
    font-weight: $fontWeight;
  }
}

@include font-face("SourceSansPro",SourceSansPro-Regular,regular,regular);
@include font-face("SourceSansPro-Light",SourceSansPro-Light,light,light);
@include font-face("SourceSansPro-SemiBold",SourceSansPro-SemiBold,bold,bold);
@include font-face("Bitter",Bitter-Regular,regular,regular);
