$bg-image: '.assets/images/bg.jpg';
$first-choice-logo: '.assets/images/first-choice.png';
$facebook: '.assets/images/8574012_35x35.png';
$twitter: '.assets/images/8574013_38x31.png';

$gradient-from: #fff;
$gradient-to: #bbc5c2;
